<div id="experiences">
<h2>Experiences</h2>
	<section>
		<div class="left">
			<div class="logo">
				<img src="images/dbclogo.png" alt="Dev Bootcamp Logo" height="40px"/>
			</div>
			<div class="thumbnails">
				<% link_to '', id: 'dbc' do %>
					<%= image_tag 'calendar-thumbnail.png' %>
				<% end %>
				<% link_to 'http://devbootcamp.com', target: '_blank' do %>
					<%= image_tag 'web-logo.png' %>
				<% end %>
			</div>
		</div>
		<div class="info">
			<ul>
				<li>19-week intensive coding bootcamp for full stack web development</li>
				<li>Ruby. Ruby on Rails. Javascript. SQL. Active Record. Sinatra. jQuery. AJAX.</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
				<img src="images/choppingblock.jpg" alt="Chopping Block Logo" height="125px" />
			</div>
			<div class="thumbnails">
				<%= image_tag 'calendar-thumbnail.png' %>
				<% link_to 'http://www.thechoppingblock.com', target: '_blank' do %>
					<%= image_tag 'web-logo.png' %>
				<% end %>
			</div>
		</div>
		<div class="info">
			<ul>
				<li>Prepared appetizers for guests and served alcohol to patrons during classes and parties</li>
				<li>Instructed patrons on cooking skills during parties while leading a recipe(s) station</li>
				<li>Assissted leading cooking bootcamps for kids and adults alike</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
				<img src="images/creativecircus.png" alt="Creative Circus Logo" height="125px" />
			</div>
			<div class="thumbnails">
				<%= image_tag 'calendar-thumbnail.png' %>
				<% link_to 'http://summeratthecircus.com/', target: '_blank' do %>
					<%= image_tag 'web-logo.png' %>
				<% end %>
			</div>
		</div>
		<div class="info">
			<ul>
				<li>Eight week intensive creative advertising bootcamp in Atlanta, GA.</li>
				<li>Creative Teams. Art Direction. Adobe Suite. Creative Strategy.</li>
				<li>Type. Photo. Video. Board Game Challenge. Portfolio Week.</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
				<img src="images/pdhp-logo.png" alt="PDHP Logo" height="125px" />
			</div>
			<div class="thumbnails">
				<%= image_tag 'calendar-thumbnail.png' %>
				<% link_to 'http://www.pdhp.org/camps/', target: '_blank' do %>
					<%= image_tag 'web-logo.png' %>
				<% end %>
			</div>
		</div>
		<div class="info">
		<ul>
			<li>Assisted in leading a summer overnight adventure camp with 13 middle school-aged kids</li>
			<li>Drove 15-passenger van (“Mini Bus”) to various camping sites in Midwest each week</li>
			<li>Led many outdoor recreational activities, such as hiking and kayaking</li>
		</ul>
		</div>
	</section>
</div>
	
<div id="education">	
	<h2>Education</h2>
		<section>
			<img src="images/iowa.gif" alt="Iowa Logo" height="60px" />
			<h3>University of Iowa</h3>
			<p>BA Health and Human Physiology, 2015</p>
			<p>Course highlights include...</p>
			<p><em>Applied Sport and Exercise Psychology, Physiology of Nutrition, Biomechanics of Human Motion</em></p>
		</section>
		<section>
			<img src="images/iwu-logo.png" alt="IWU Logo" height="60px" />
			<h3>Illinois Wesleyan University</h3>
			<p>Attended freshman year</p>
			<p>Course highlights include...</p>
			<p><em>World War II in the Pacific and Entrepreneurship</em></p>
		</section>
</div>

<script type="text/javascript">
	console.log('hello');
$(document).ready( function () {
	$('#dbc').on('click', function() {
		event.preventDefault();

		console.log('hello');

	})
});

</script>